pin-depends: [
  [ "gillian.~dev" "git+https://github.com/GillianPlatform/gillian.git#c6bb19b616da32eac1a98378c6fab3174b2d6c70" ]
  [ "simple_smt.~dev" "git+https://github.com/NatKarmios/simple-smt-ocaml#b88c4b0685f6ec989e8b4c911e296c4087768db8" ]
]